Source: device-db8060a
Section: embedded
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4

Package: device-db8060a
Architecture: all
Description: Root package for the db8060a device
 This is the root package for the DragonBoard 8060a device.
Depends:
 ptux-essential,
 board-db8060a,
 baseconfig-ptux,
 devnodes-ptux,
 systemd-sysv,
 dpkg-autoconfigure-at-boot,
 vim-tiny,
 procps,
 wget,
 module-init-tools,
 accounts-root-password,
 connman-run,
 openssh-client,
 openssh-server,
 iproute,
 iputils-ping,
 apt-transport-https,
 apt-source-ptux-device,
 xserver-xorg-video-fbdev,
 xserver-xorg-input-evdev,
 xorg-run,
 e17-run,
 e17-config-small,
 epiphany-browser,
 xterm,
 ${misc:Depends}
